NET i_Clock LOC = P87 | IOSTANDARD = LVCMOS33; 

NET i_Rx_Serial LOC = P22 | IOSTANDARD = LVCMOS33; 

#NET rx LOC = P22 | IOSTANDARD = LVCMOS33;
#
NET outsingle LOC = P21 | IOSTANDARD = LVCMOS33; 

NET led_out loc = P95 | IOSTANDARD = LVCMOS33;
NET led_out1 loc = P94 | IOSTANDARD = LVCMOS33;
NET led_out2 loc = P93 | IOSTANDARD = LVCMOS33;


NET o_Rx_Byte[0] loc=p16 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[1] loc=p15 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[2] loc=p12 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[3] loc=p11 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[4] loc=p9 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[5] loc=p8 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[6] loc=p6 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[7] loc=p5 | IOSTANDARD = LVCMOS33; 